<md-card class="contentCard">
  <md-card-header>
    <md-card-title><h1>{{titleCard}} {{numberCard}}</h1></md-card-title>
    <md-card-subtitle>{{subTitleCard}}</md-card-subtitle>
  </md-card-header>
  <img md-card-image [src]="angularImage">
  <img md-card-image [src]="angularImage">
  <img md-card-image [src]="angularImage">
  <md-card-content>
    <p>
      {{contentCard}}
    </p>
  </md-card-content>

  <br /><br />

  <md-card-actions class="buttonCard">
    <a button md-raised-button href="https://github.com/jeroenouw/Angular4MaterialDesign" target="_blank"><h3>Github</h3></a>
  </md-card-actions>
</md-card>