.form {
  width: 500px;
  margin: 165px auto 0;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 5; 
}

.full-width {
  width: 100%;
} 

@media only screen and (max-width: 1024px) {

  .form  {
      width: 50%;
      margin: 10% auto 0;
  }

}

@media only screen and (max-width: 768px) {
  
  .form  {
      width: 90%;
      margin: 10% auto;
  }

}