<md-toolbar color="primary">
 
  <span><a href="/"><app-titlecase-pipe></app-titlecase-pipe></a></span>
  <div class="menu-link">
      <a routerLink="/home">Home</a>
      <a routerLink="/about">About</a>
      <a routerLink="/contact">Contact</a>
  </div>

  <span class="spacer"></span>
  
  <app-date-pipe></app-date-pipe>

  <span class="spacer-light"></span>

    <div *ngIf="!authService.isAuthenticated(); else loggedin">
      <a routerLink="/signup"><md-icon>person_add</md-icon></a>
      <a routerLink="/login"><md-icon>lock_open</md-icon></a>
    </div>

    <ng-template #loggedin>
        <md-icon>verified_user</md-icon>
        <!--<p>Logged in
        <a style="cursor: pointer;" (click)="onLogout()">Logout</a>
        </p>-->

        <button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon>menu</md-icon>
        </button>

        <md-menu #menu="mdMenu" >
          <a md-menu-item *ngFor="let item of menuItems" href="{{item.link}}">
            <md-icon class="login">{{item.icon}}</md-icon>
            <span>{{item.title}}</span>
          </a>
        </md-menu> 

      </ng-template>
</md-toolbar>

<md-tab-group>
  <md-tab label="HOME">
     <!-- <div id="content">
        <md-card>
          <h1>Home</h1>
          <app-slide></app-slide>
        </md-card>
      </div>-->
  </md-tab>

  <md-tab label="MISC">
      <div id="content">
        <md-card>
          <h1>Various components (in progress)</h1>
          <h3>Misc</h3>
          Lorem ipsum dolor...
        </md-card>
      </div>
  </md-tab>

</md-tab-group>

