<md-toolbar color="primary">
 
  <span><a href="/"><app-titlecase-pipe></app-titlecase-pipe></a></span>
  <span class="spacer"></span>
  <app-date-pipe></app-date-pipe>
  
    <div *ngIf="!authService.isAuthenticated(); else loggedin">
      <a routerLink="/signup"><md-icon>person_add</md-icon></a>
      <a routerLink="/login"><md-icon>lock_open</md-icon></a>
    </div>

    <ng-template #loggedin>
        <md-icon>verified_user</md-icon>
        <!--<p>Logged in
        <a style="cursor: pointer;" (click)="onLogout()">Logout</a>
        </p>-->

        <button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon>menu</md-icon>
        </button>

        <md-menu #menu="mdMenu" >
          <a md-menu-item *ngFor="let item of menuItems" href="{{item.link}}">
            <md-icon class="login">{{item.icon}}</md-icon>
            <span>{{item.title}}</span>
          </a>
        </md-menu> 

      </ng-template>
</md-toolbar>

<md-tab-group>
  <md-tab label="HOME">
      <div id="content">
        <md-card>
          <h1>Home</h1>
          <!--<app-slide></app-slide>-->
        </md-card>
      </div>
  </md-tab>

  <md-tab label="ABOUT ME">
      <div id="content">
        <md-card>
          <h1>About me (in progress)</h1>
          <app-about-me></app-about-me>
        </md-card>
      </div>
  </md-tab>

  <md-tab label="MESSAGES">
      <div id="content">
        <md-card>
          <h1>Messaging (in progress)</h1>
          <app-receiver-message></app-receiver-message>
          <app-sender-message></app-sender-message>
        </md-card>
      </div>
  </md-tab>

  <md-tab label="LOGIN REGISTER">
      <div id="content">
        <md-card>
          <h1>Register and login (temporary till routing fixed)</h1>
          <app-signup></app-signup>
          <br />
          <app-signin></app-signin>
        </md-card>
      </div>
  </md-tab>

  <md-tab label="CONTACT">
      <div id="content">
        <md-card>
          <h1>Contact us today (in progress)</h1>
          <app-contact></app-contact>
        </md-card>
      </div>
  </md-tab>
</md-tab-group>

