.app-content {
  padding: 20px;
}
.app-content md-card{
  margin: 20px;
}

#content {
  padding: 20px;
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

span a, span a:hover {
  text-decoration: none;
  color:rgba(255,255,255,.87);
}

a, a:hover { 
  text-decoration: none;
  color:rgba(0,0,0,.87);
}

.mat-icon {
  text-decoration: none;
  color:rgba(255,255,255,.87);
}

.login {
  color: #333;
} 