<!--This is the header.
<button md-button [mdMenuTriggerFor]="menu">Menu</button>
<md-menu #menu="mdMenu">
  <button md-menu-item routerLinkActive="active" [routerLink]="['/contact']">Contact</button>
  <button md-menu-item routerLinkActive="active"><a [routerLink]="['/test']">Test</a></button>
</md-menu>

<h4>Angular Router 2</h4>
  <nav>  
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
    <button routerLink="/contact" >Contact2</button>
  </nav>
  <router-outlet></router-outlet>-->

 <md-toolbar color="primary">
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>menu</md-icon>
  </button>
  <md-menu #menu="mdMenu" >
    <a md-menu-item *ngFor="let item of menuItems" href="{{item.link}}">
      <md-icon>{{item.icon}}</md-icon>
      <span>{{item.title}}</span>
    </a>
  </md-menu> 
  <span><a href="/"><app-titlecase-pipe></app-titlecase-pipe></a></span>
  <span class="spacer"></span>
  <app-date-pipe></app-date-pipe>
</md-toolbar>

<md-tab-group>
  <md-tab label="Home">
      <div id="content">
        <md-card>
          <h1>Home</h1>
          <!--<app-slide></app-slide>-->
        </md-card>
      </div>
  </md-tab>

  <md-tab label="About me">
      <div id="content">
        <md-card>
          <h1>About me (in progress)</h1>
          <app-about-me></app-about-me>
        </md-card>
      </div>
  </md-tab>

    <md-tab label="Messages">
      <div id="content">
        <md-card>
          <h1>Messaging (in progress)</h1>
          <app-receiver-message></app-receiver-message>
          <app-sender-message></app-sender-message>
        </md-card>
      </div>
  </md-tab>

  <md-tab label="Contact">
      <div id="content">
        <md-card>
          <h1>Contact us today (in progress)</h1>
          <app-contact></app-contact>
        </md-card>
      </div>
  </md-tab>
</md-tab-group>

