<div id="content">
  <md-card>
    <h1>Misc</h1>
    <div class="form-element">
      <label>How are you today ? <br/>
          <md-input-container class="full-width">
          <input mdInput placeholder="I am feeling good!" type="text" [(ngModel)]="answer"/>
          </md-input-container>
      </label>

    <md-input-container>
      <input mdInput [mdDatepicker]="picker" placeholder="Choose a date">
      <button mdSuffix [mdDatepickerToggle]="picker"></button>
    </md-input-container>

    <md-datepicker #picker></md-datepicker>

    <md-toolbar>Repeat yourself : {{answer}}</md-toolbar>
    </div>
    
    <br/>

    <app-dialog></app-dialog>

    <br/>

    <app-change-detection></app-change-detection>

    <br/>

    <app-async-observable-pipe></app-async-observable-pipe>

    <br/>
    
    <app-json-pipe></app-json-pipe>
    
    <br/>

    <app-currency-pipe></app-currency-pipe>


  </md-card>
</div>

<app-virtreal></app-virtreal>