<!-- Carousel -->
<app-carousel></app-carousel>

<div id="content">
  <md-card>
    <h1>Misc</h1>
    
    <!-- Miscellaneous material components -->
    <h3>Two-way data binding :</h3>
    <md-input-container class="full-width">
    <input mdInput placeholder="I am feeling good!" type="text" [(ngModel)]="answer"/>
    </md-input-container>

    <md-toolbar>Repeat yourself : {{answer}}</md-toolbar>

    <br/>

    <h3>MD Datepicker : </h3>
    <md-input-container>
      <input mdInput [mdDatepicker]="picker" placeholder="Choose a date">
      <button mdSuffix [mdDatepickerToggle]="picker"></button>
    </md-input-container>

    <md-datepicker #picker></md-datepicker>

    <br/>

    <h3>MD Sidenav : </h3>
    <md-sidenav-container class="container">
      <md-sidenav #sidenav class="sidenav">
        This is the sidenav!
      </md-sidenav>

      <div class="sidenav-content">
        <button type="button" md-button (click)="sidenav.open()">
          Open sidenav!
        </button>
      </div>

    </md-sidenav-container>

    <br/>
   
    <h3>MD Tooltip : </h3>
    <span mdTooltip="This is a tooltip">Hover me!</span>

    <br/><br/>

    <h3>MD Slide toggle : </h3>
    <md-slide-toggle class="margin">
      Click me!
    </md-slide-toggle>

    <br/><br/>
        
    <h3>MD Dialog (in progress) : </h3>
    <app-dialog></app-dialog>

    <br/>

    <app-table></app-table>
    
    <br/>

    <!-- Pipes -->
    <app-change-detection></app-change-detection>

    <br/>

    <app-async-observable-pipe></app-async-observable-pipe>

    <br/>
    
    <app-json-pipe></app-json-pipe>
    
    <br/>

    <app-currency-pipe></app-currency-pipe>


  </md-card>
</div>

<!-- 360 virtual reality component -->
<app-virtreal></app-virtreal>
