.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav {
  width: 180px;
  z-index: 100;
}

.menu-link button, .menu-link a:hover {
  width: 100%;
  height: 48px;
  font-size: 14px;
  line-height: 48px;
  padding: 0 16px;
  text-decoration: none;
  text-align: left;
}

.home, .about, .contact, .misc {
  color: #333;
} 

span {
    margin-left: 15px;
}

img {
  margin: 15px 15px 0;
  max-width: 150px;
  max-height: 180px;
}
