<md-card>
  <h3>Sign up with Google</h3>
  <form (ngSubmit)="onSignupGoogle(g)" #g="ngForm">
    <md-card-actions class="button">
      <button md-raised-button class="primary" type="submit" [disabled]="!g.valid">Sign up with your Google Account</button>
    </md-card-actions>
  </form>

  <hr />

    <h3>Sign up with Facebook</h3>
  <form (ngSubmit)="onSignupFacebook(fb)" #fb="ngForm">
    <md-card-actions class="button">
      <button md-raised-button class="primary" type="submit" [disabled]="!fb.valid">Sign up with your Facebook Account</button>
    </md-card-actions>
  </form>

  <hr />
  <h3>Or sign up here</h3>

  <form (ngSubmit)="onSignup(f)" #f="ngForm">
    <md-input-container class="full-width">
      <!--<label for ="email">Mail</label>-->
      <input mdInput placeholder="Email" type="email" id="email" name="email" ngModel>
    </md-input-container>
    <md-input-container class="form-group">
      <!--<label for ="password">Password</label>-->
      <input mdInput placeholder="Password" type="password" id="password" name="password" ngModel>
    </md-input-container>
    <md-card-actions class="button">
      <button md-raised-button class="primary" type="submit" [disabled]="!f.valid">Register</button>
    </md-card-actions>
  </form>
 
</md-card>