<md-card>
  <h3>Register</h3>
  <form (ngSubmit)="onSignup(f)" #f="ngForm">
    <md-input-container class="full-width">
      <!--<label for ="email">Mail</label>-->
      <input mdInput placeholder="Email" type="email" id="email" name="email" ngModel>
    </md-input-container>
    <md-input-container class="form-group">
      <!--<label for ="password">Password</label>-->
      <input mdInput placeholder="Password" type="password" id="password" name="password" ngModel>
    </md-input-container>
    <p>Password length needs to above 6 characters.</p>
    <br />
    <md-card-actions class="button">
      <button md-raised-button class="primary" type="submit" [disabled]="!f.valid">Register</button>
    </md-card-actions>
  </form>
</md-card>