md-card {
  width: 400px;
  height: 600px;
  margin: 100px auto;
}

md-progress-bar {
  margin-top: -21px;
}

md-spinner {
  width: 100px;
  height: 100px;
  margin: 20px auto 0 auto;
  z-index: 5;
}

.button {
  display: grid;
  margin-top: 0px;
}
