<!-- Spinner -->
<!-- <mat-spinner *ngIf="loading" mode="indeterminate"></mat-spinner> -->
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<mat-card>
  <h3>Social Sign up</h3>
  <form (ngSubmit)="onSignupGoogle(g)" #g="ngForm">
    <mat-card-actions class="button">
      <!-- mat-raised-button class="primary" -->
      <button class="btn btn-block btn-social btn-google" type="submit" [disabled]="!g.valid"><span class="fa fa-google"></span> Sign up with your Google Account</button>
    </mat-card-actions>
  </form>
  <form (ngSubmit)="onSignupTwitter(t)" #t="ngForm">
    <mat-card-actions class="button">
      <button class="btn btn-block btn-social btn-twitter" type="submit" [disabled]="!t.valid"><span class="fa fa-twitter"></span> Sign up with your Twitter Account</button>
    </mat-card-actions>
  </form> 
  <form (ngSubmit)="onSignupFacebook(fb)" #fb="ngForm">
    <mat-card-actions class="button">
      <button class="btn btn-block btn-social btn-facebook" type="submit" [disabled]="!fb.valid"><span class="fa fa-facebook"></span> Sign up with your Facebook Account</button>
    </mat-card-actions>
  </form>
  <form (ngSubmit)="onSignupGithub(gh)" #gh="ngForm">
    <mat-card-actions class="button">
      <button class="btn btn-block btn-social btn-github" type="submit" [disabled]="!gh.valid"><span class="fa fa-github"></span> Sign up with your Github Account</button>
    </mat-card-actions>
  </form>

  <hr />
  <h3>Or sign up with your email</h3>

  <form (ngSubmit)="onSignup(f)" #f="ngForm">
    <mat-input-container class="full-width">
      <!--<label for ="email">Mail</label>-->
      <input matInput placeholder="Email" type="email" id="email" name="email" ngModel required>
    </mat-input-container>
    <mat-input-container class="full-width">
      <!--<label for ="password">Password</label>-->
      <input matInput placeholder="Password" type="password" id="password" name="password" ngModel required>
    </mat-input-container>
    <mat-card-actions class="button">
      <button mat-raised-button class="primary" type="submit" [disabled]="!f.valid">Register</button>
    </mat-card-actions>
  </form>
  <!--
    <form (ngSubmit)="onSignupCellphone(cp)" #cp="ngForm">
    <mat-input-container class="full-width">-->
      <!--<label for ="email">Mail</label>-->
      <!--<input matInput placeholder="phoneNumber" type="phoneNumber" id="phoneNumber" name="phoneNumber" ngModel>
    </mat-input-container>
    <mat-input-container class="form-group">-->
      <!--<label for ="password">Password</label>-->
      <!--<input matInput placeholder="appVerifier" type="appVerifier" id="appVerifier" name="appVerifier" ngModel>
    </mat-input-container>    
    <mat-input-container class="form-group">-->
      <!--<label for ="password">Password</label>-->
      <!--<input matInput placeholder="code" type="code" id="code" name="code" ngModel>
    </mat-input-container>
    <mat-card-actions class="button">
      <button mat-raised-button class="primary" type="submit" [disabled]="!cp.valid">Cellphone</button>
    </mat-card-actions>
  </form>-->
 
</mat-card>