 <div class="profile-settings">
    <mat-card> 
    <h3>My profile settings</h3>

        <form class="form" (ngSubmit)="onUpdateUserInfo(sv)" #sv="ngForm">

            <mat-input-container class="form-group">
                <input matInput placeholder="Username" id="displayName" name="displayName" [(ngModel)]="displayName" required>
            </mat-input-container>

            <mat-input-container class="form-group">
                <textarea matInput placeholder="Short Bio" rows="6" id="bio" name="bio" [(ngModel)]="bio" required></textarea>
            </mat-input-container>

            <hr>
            
            <mat-card-actions class="button">
                <button mat-raised-button class="primary" type="submit">Save Settings</button>
            </mat-card-actions> 

            <mat-card-actions class="button">
                <button mat-raised-button class="primary" (click)="onLogout()">Logout</button>
            </mat-card-actions>   
            
            <mat-card-actions class="button">
                <button mat-raised-button class="primary" (click)="onPasswordReset()">Reset Password</button>
            </mat-card-actions> 

        </form>

    </mat-card>
 </div>
 