<div class="profile">
  <md-card>
    
    <div class="avatar"><img [src]="fullImagePath"></div>
  
  <md-card-header>    
    <md-card-title><h3>{{profileTitle}}</h3></md-card-title>
    <md-card-title><h4>{{profileName}}</h4><md-card-subtitle>{{profileUsername}}</md-card-subtitle></md-card-title>
  </md-card-header>

  <hr />
  
  <md-card-subtitle>{{profileBio}}</md-card-subtitle>

      <a button md-raised-button href="/profile-settings">
      <md-icon class="settings">settings</md-icon>
      Edit profile settings
      </a>
      <!--[routerLink]="['/profile-settings']" [hidden]="!isUser" -->
  </md-card>
</div>

