.profile-settings { 
    padding: 20px;
}


form {
    text-align: center;
}

mat-card {
    width: 400px;
    height: 530px;
    margin: 100px auto;
}

mat-input-container {
    width: 100%;
}

textarea {
    resize: none;
}

.avatar {
    margin: 10px auto;
    width: 120px;
}

a:hover {
    text-decoration: none;
}