 <div class="profile-settings">
    <md-card> 
    <h3>My profile settings</h3>

    <form class="form" (ngSubmit)="onUpdateUserInfo(sv)" #sv="ngForm">

        <md-input-container class="form-group">
            <input mdInput placeholder="Username" id="displayName" name="displayName" ngModel required>
        </md-input-container>

        <md-input-container class="form-group">
            <textarea mdInput placeholder="Short Bio" rows="8" id="bio" name="bio" ngModel required></textarea>
        </md-input-container>

        <hr>
        
        <md-card-actions class="button">
            <button md-raised-button class="primary" type="submit">Save Settings</button>
        </md-card-actions> 

        <md-card-actions class="button">
            <button md-raised-button class="primary" (click)="onLogout()">Logout</button>
        </md-card-actions>   

    </form>

    <md-card-actions class="button">
        <button md-raised-button class="primary" (click)="onPasswordReset()">Reset Password</button>
    </md-card-actions> 

    </md-card>
 </div>
 