#contentOne {
  width: 930px;
  margin: 0 auto;
  left: 0;
  right: 0;
  padding: 60px 20px;
  z-index: 1;
  position: relative;
} 

@media only screen and (max-width: 1024px) {

  #contentOne {
      width: 100%;
  }

}